@charset "utf-8";
/* CSS Document */
.bgf0 { background-color:#f0f0f0; }
.lawyer-l-h img { display:block; width:182px; height:182px; }
.lawyer-l-h .btn-oe { padding:0 43px; }
.lawyer-l-h .btn-disabled {
    background-color:#ccc;
    border-color:#ccc;
}
.lawyer-l-h .btn-oe2 {
    padding:0 18px;
    height:36px; line-height:36px;
	color:#f36f20;
	border-color:#f36f20;
    border-width:1px;
}
.lawyer-l-h .btn-oe2:hover {
    padding:0 17px;
    height:34px; line-height:34px;
	color:#f36f20;
	border-color:#f36f20;
    border-width:2px;
}
.w661 { width:661px;}
.law-info {
    max-width:300px; _width:279px;
    padding:0 50px 15px 0;
    border-right:1px solid #eee;
}
.law-info a.f16 { color:#333;}
.law-info span {
    padding:0 2px;
    height:18px; line-height:18px;
    color:#828fa3;
    border:1px solid #828fa3;
}
.law-info p em.ml10.mr10 { color:#eee; }
.mr1 { margin-right:1px; }
.tel-f { display:inline-block; }
.tel-f .btn { 
	-webkit-transition:none;
	   -moz-transition:none;
		-ms-transition:none;
			transition:none;
}
.tel-f-pop, .law-e-pop, .lawinfo5-step-pop {
    left:0; bottom:50px;
    padding:15px 20px;
    width:210px;
    background:#fff;
    border:1px solid #eee;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}
.tel-f-pop .arrow-bottom , .law-e-pop .arrow-bottom, .lawinfo5-step-pop .arrow-bottom {
     position:absolute; bottom:-14px; left:123px;
     border-top-color: #fff;  
     border-width: 7px;
}
.tel-f-pop span, .law-e-pop p { color:#999; }
.law-e-pop { bottom:40px; }
.law-e-pop .s-gn:hover { color: #01af63 !important; }
.law-ensure {
    padding-left:40px;
    min-width:124px;
    border-left:1px solid #f8f8f8;
}
.law-ensure span.ml20 { color:#bbb; }
.law-ensure i.i-sr14 {
    margin-right:4px;
    margin-top:5px;
    float:left;
}
.lh24 {
    line-height:24px;
}
.law-ensure .ensu1 span {
    float:left;
    padding-right:5px;
    height:24px; line-height:24px;
    background:#60c88b; color:#fff;
}
.law-ensure .ensu1 span.disabled { background:#ccc; }
.law-ensure .b-line {
    float:left;
    padding:0 5px;
    height:22px; line-height:22px;
    border:1px solid #60c88b; color:#60c88b;
}
.law-photo {
    padding:4px;
    background:#fff;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}
.law-help { margin-top:30px;
    max-width:331px; _width:320px; 
}
.law-help p {
    float:left;
    margin:0 20px; _margin:0 15px;
    text-align:center;
}
.law-help p span {
    display:block;
    margin-top:10px;
}
.lawyer-opt a, .bdshare-button-style0-16 .bds_more { color:#999 !important;  }
.lawyer-opt { position:relative;bottom:21px;margin-bottom: -21px }
.lawyer-opt a:hover, .bdshare-button-style0-16 .bds_more:hover { color:#f25618 !important; }
.lawyer-opt a:hover .i-own5 { background-position:-160px 0; }
.lawyer-opt a:hover .i-own6 { background-position:-180px 0; }
.law-data {
    padding:20px 0 40px;
    border-top:1px solid #e6e6e6;
}
.w280 { width:280px; }
.w900 { width:900px; }
.box-p1 { 
    padding:10px 20px; 
    background:#fff;
}
.g-r-tit1 {
    height:49px; line-height:49px;
    font-size:18px;
    color:#333;
    border-bottom:1px solid #eee;
}
.g-r-tit1 span {
    display:inline-block;
    padding:0 24px;
    border-bottom:2px solid #01af63;
}
.g-r-tit2 {
    height:49px; line-height:49px;
    font-size:18px;
    color:#333;
    border-bottom:2px solid #01af63;
}
.appoint-step { 
    padding-bottom:15px;
    color:#333;
    border-bottom:1px dashed #eee;
}
.appoint-step ul li { float:left; text-align:center; }
.appoint-step ul li .i-own27 { margin-top:7px; }
.appoint-step ul li p { margin-top:14px; }
.appoint-type { padding-bottom:20px; }
.appoint-type .u-pn, .appoint-type .pn-ct { width:238px; z-index:10; }
.appoint-type .btn { display:block; text-align:center; }
.appoint-type .u-pn-hover, .appoint-type .u-pn-hover .pn-ct { width: 236px; }
.appoint-type .u-pn-click { width:240px; }
.appoint-type .u-pn-click .pn-ct { width:238px; }
.lawyer-trend { padding-bottom:20px; }
.lawyer-trend li .trend-time { color:#bbb; }
.lawyer-trend li .h48 { height:48px; overflow:hidden; }
.lawyer-trend li .trend-answer {
    padding:5px 10px;
    color:#fff; background:#60c88b;
}
.trend-answer .i-own30 {
    left:20px; top:-9px;
}
.trend-answer p {
    height:48px;
    overflow:hidden;
}
.lawyer-more li {
    padding:20px 0;
    border-bottom:1px dashed #eee;
}
.lawyer-more li.bob0 { border-bottom:0; }
.lawyer-more li a.law-photo90 {
    width:90px; height:90px;
    border-radius:50%;
    overflow:hidden;
}
.lawyer-more li a.law-photo90 img { display:block; width:90px; height:90px; }
.lawyer-more li a.f16 { color:#333; }
.lawyer-more li a.f16:hover { color:#f25618; }
.lawyer-more .law-e-pop { left:-120px; bottom:25px; }
.color9 { color:#999; }
.borb1 { border-bottom:1px solid #e6e6e6; }
.law-data .w900 {
    min-height:1515px; _height:1564px;
    background:#fff; 
}
.lawinfo-tab { height:60px; }
.lawinfo-tab a {
    float:left;
    padding:12px 0 14px;
    width:128px; height:32px; line-height:32px;
    font-size:14px;
    text-align:center;
    background:#e6e6e6; 
    border-top:2px solid #e6e6e6;
}
.lawinfo-tab a.w132 { width:132px; }
.lawinfo-tab .la-now-tab {
    font-size:16px;
    color:#01af63;
    background:#fff; border-color:#01af63; 
}
.lawinfo-tab a span {
    display:block; border-right:1px solid #ddd;
}
.lawinfo-tab a span.bor0 { border-right:0; }
.lawinfo-tab .la-now-tab span { border-color:#fff; }
.b-line { height:0; overflow:hidden; border-bottom:1px solid #eee; }
.lawinfo-tit1 { height:24px; line-height:24px; }
.lawinfo-tit2 { height:20px; line-height:20px; }
.lawinfo-tit2 span.f12 { color:#bbb; }
.lawinfo1 { overflow:hidden; }
.lawinfo1 ul { padding:10px 0; }
.lawinfo1 ul li { height:30px; line-height:30px; overflow:hidden; font-size:14px; }
.lawinfo1 ul.lawino1-l { width:429px; border-right:1px dashed #eee; }
.lawinfo1 ul.lawino1-r { width:430px; }
.lawinfo1 ul li em {  
    display:inline-block;
    margin-right:15px;
    text-align:right;
    font-size:12px;
    color:#999; 
}
.lawinfo1 ul.lawino1-l li em { width:100px; }
.lawinfo1 ul.lawino1-r li em { width:120px; }
.lawinfo1 ul li span {
    display:inline-block;
    padding:0 4px;
    height:18px; line-height:18px;
    font-size:12px;
    color:#fff; background:#60c88b;
}
.lawinfo2 ul li { float:left; }
.lawinfo2 ul li, .lawinfo2 ul li a { 
    display:block;
    width:156px; height:120px;
}
.lawinfo2 ul li a img {
     width:156px; height:156px;
}
.lawinfo3 ul li {
    left: -5px;
    margin-bottom: 20px;
    padding-left: 18px;
    position: relative; 
}
.lawinfo3 ul li .lawinfo3-line-g {
    left:4px; top:0;
    height:115px;
    border-left:1px solid #e1e1e1;
}
.lawinfo3-g1 { height:21px; }
.lawinfo3-g1 .i-own29 { left:-24px; top:0; }
.lawinfo3-g1-r1 { 
    *left:10px;
    display:inline-block;
    margin-left:10px; padding:0 10px 0 5px; 
    height:21px; line-height:21px;
    background:#01af63; color:#fff;
}
.lawinfo3-g1-r1 .i-own32 { left:-10px; top:0; }
.lawinfo3-g1 em { color:#bbb; }
.lawinfo-line-r {
    height:10px; line-height:10px;
    border-bottom:1px dashed #ddd;
}
.bg-white { background:#fff; }
.lawinfo3-g2 a { color:#333; }
.lawinfo3-g2 span {
    display:inline-block;
    padding:0 10px;
    height:16px; line-height:16px;
    color:#fff; background:#f25618;
    font-size:12px;
}
.lawinfo3-g3 { line-height:24px; }
.lawinfo3-g3 span em { color:#bbb; }
.lawinfo4 .bgf0 { padding:10px 20px; }
.lawinfo4 ul li { 
    float:left ; 
    width:156px; height:156px;
}
.lawinfo4 ul li a {
    display:block;
    padding-top:20px;
    width:154px; height:134px; line-height:24px;
    text-align:center;
    border:1px solid #eee;
}
.lawinfo4 ul li a span {
    display:inline-block;
    padding:7px;
    width:50px; height:50px;
    background:#60c88b;
    border-radius:50%;
    overflow:hidden;
	-webkit-transition:all .2s;
	   -moz-transition:all .2s;
		-ms-transition:all .2s;
			transition:all .2s;
}
.lawinfo4 ul li a:hover {
    color:#fff;
    background:#f25618;
    border-color:#f25618;
}
.lawinfo4 ul li a:hover span { background:#f25618; }
.lawinfo5 dl .w302 { width:302px; }
.lawinfo5 dl .w171 { width:171px; }
.lawinfo5 dl .w382 { width:382px; }
.lawinfo5 dl dt {
    padding:10px 0;
    height:20px; line-height:20px;
}
.lawinfo5 dl dt span { float:left; color:#999; }
.lawinfo5 dl dt span.w302 { width:301px; border-right:1px solid #ddd; }
.lawinfo5 dl dt span.w171 { width:170px; border-right:1px solid #ddd; }
.lawinfo5 dl dd { padding:20px 0; }
.lawinfo5 dl dd .w382 p.pl20 { color:#5a5a5a; }
.lawinfo5 dl dd .w171 span, .lawinfo5 dl dd .w382 p.pl20 span { color:#bbb; }
.lawinfo5-step { height:20px; z-index:14; }
.lawinfo5-line {
    top:10px;
    width:330px; height:10px;
    background:#ddd;
    border-radius:5px;
    overflow:hidden;
}
.lawinfo5-line-bar {
    height:10px;
    background:#01af63;
    border-radius:5px;
    overflow:hidden;
}
.lawinfo5-bar { top:-3px; *top:0; }
.lawinfo5-step1 .lawinfo5-line-bar { width:10px; }
.lawinfo5-step1 .lawinfo5-bar { left:20px; }
.lawinfo5-step2 .lawinfo5-line-bar { width:110px; }
.lawinfo5-step2 .lawinfo5-bar { left:120px; }
.lawinfo5-step3 .lawinfo5-line-bar { width:220px; }
.lawinfo5-step3 .lawinfo5-bar { left:230px; }
.lawinfo5-step4 .lawinfo5-line-bar { width:330px; }
.lawinfo5-step4 .lawinfo5-bar { left:340px; }
.lawinfo5-step .lawinfo5-step-pop { 
    left:-50px; bottom:25px; 
    padding:24px 29px;
    width:370px;
}
 .lawinfo5-step-pop .arrow { left:46px; }
 .lawinfo5-step-pop .h40 { height:40px; }
 .lawinfo5-pop-line { 
     position:absolute; left:20px;
     width:330px; height:0;  line-height:0;
     border-bottom:2px solid #ccc;
 }
 .lawinfo5-pop-nr {
     top:-10px; *top:-6px;
 }
.lawinfo5-pop-nr p { margin-top:10px; color:#bbb; }
.now-bar p { color:#333; }
.now-bar .i-own33 { background-position:-150px -115px; }
.bgf8 {background:#f8f8f8; }
.lawinfo5 dl dd .w382 p.lawinfo5-fin , .lawinfo5 dl dd .w382 p.lawinfo5-fin span { color:#01af63; }
.lawinfo6 {
    padding:20px 35px;
    border-bottom:2px solid #e6e6e6;
}
.lawinfo6.bgf8 { border-bottom:1px solid #eee; }
.lawinfo6-r1 { width:135px; }
.lawinfo6-r2 { width:360px; }
.lawinfo6-r3 { width:295px; }
.lawinfo6-r1 span { color:#bbb; }
.lawinfo6-r1 p { font-size:36px; line-height:36px; }
.lawinfo6-r2 i.i-sr14 {
  margin-right: 4px;
  margin-top: 5px;
  float: left;
}
.lawinfo6-r2 span { color:#bbb; }
.lawinfo6-r3 span {
    display:inline-block;
    margin:5px 10px 0 0;
    padding:4px 6px;
    height:20px; line-height:20px;
    font-size:16px;
    color:#01af63; background:#fff;
    border:1px solid #01af63;
}
.lawinfo7 .w430 { width:430px; }
.lawinfo7 .w123 { width:123px; }
.lawinfo7 .w164 { width:164px; }
.lawinfo7 .w143 { width:143px; }
.lawinfo7 dl dt { height:20px; overflow:hidden; }
.lawinfo7 dl dt span { float:left; color:#999; }
.lawinfo7 dl dt .w430 { width:429px; border-right:1px solid #eee; }
.lawinfo7 dl dt .w123 { width:122px; border-right:1px solid #eee; }
.lawinfo7 dl dt .w164 { width:163px; border-right:1px solid #eee; }
.lawinfo7 dl dd {
    padding:25px 0;
    line-height:30px;
    border-bottom:1px solid #eee;
}
.lawinfo7 dl dd.bob0 { border-bottom:0; }
.lawinfo7 dl dd .w430 p {
    padding-right:20px; margin-bottom:5px;
    color:#333;
}
.lawinfo7 dl dd .w430 span { color:#bbb; }
.lawinfo7 dl dd .w164 p {padding-left:20px; font-size:14px; }
.lawinfo7 dl dd .w143 { line-height:30px; }
.lawinfo7 dl dd .w143 span { color:#bbb; }
.sub-demand {
    padding:55px 260px 0;
    height:108px;
}
.sub-demand .pa { top:0;  }
.sub-demand p.f24 { color:#01af63; line-height:36px; }
.sub-demand .btn-gn2 {
    height:48px; line-height:48px;
    font-size:16px;
}
.lawyer-intro div.t2 { line-height:28px; }
.read-more, .read-close {
    padding:0 5px;
    height:18px; line-height:18px;
    background:#01af63; color:#fff;
}
.read-more:hover, .read-close:hover {
    background:#019d59; color:#fff;
}
.lawyer-record table {
    border-color:#eee;
    border-style:solid;
    font-size:14px;
}
.lawyer-record table td { 
    padding:10px 30px;
    height:20px; line-height:20px;
    border-color:#eee;
    border-style:dashed; 
}
.lawyer-record .record-tit {
    padding:10px 20px;
    height:20px; line-height:20px;
    font-size:16px;
    background:#ccc; color:#fff;
}
.record-type {
    width:120px;
    color:#333;
}
.lawinfo-local li { line-height:32px; }
.lawinfo-local li em {
    float:left;
    width:80px; color:#333;
    text-align:right;
}
.lawinfo-map { color:#333; }
.lawinfo-map img { display:block; }
.lawinfo-serve .serve-type {
    padding:10px 0;
    height:20px; line-height:20px;
    background:#60c88b; color:#fff;
}
.lawinfo-serve .w447 { width:447px; }
.lawinfo-serve .w240 { width:240px; }
.lawinfo-serve .w169 { width:169px; }
.lawinfo-serve .serve-type { border-left:1px solid #60c88b; border-right:1px solid #60c88b; }
.lawinfo-serve .serve-type .w240 { width:240px; border-right:1px solid #49b375; }
.lawinfo-serve .serve-type .w169 { width:168px; border-right:1px solid #49b375; }
.serve-type span { float:left; }
.lawinfo-serve table {
    border-color:#eee;
    border-style:solid;
    font-size:14px; color:#333;
}
.lawinfo-serve table td { 
    padding:25px 0;
    height:20px; line-height:20px;
    border-color:#eee;
    border-style:dashed; 
    border-bottom:0; border-top:0;
}
.lawinfo-serve .w447 { 
    padding-left:30px;
    width:417px; 
}
.lawinfo-guar {
    padding:30px 40px 37px;
    line-height:30px;
    font-size:16px; color:#fff;
    background:url(../images/gn-bg.png) left bottom #11c174 repeat-x;
}
.lawinfo-guar .ico-pass {
    display:inline-block;                      
	vertical-align:middle;                    
	overflow:hidden;
    right:5px; top:0;
    width:137px; height:91px;
    background:url(../images/pass-cheack.png) ;
}
.color3 {color:#333; }
.lh30 { line-height:30px; }
.lh28 { line-height:28px; }
.tab-bgoe {
   width:50%;
   height:40px; line-height:40px;
   color:#fff; background:#ffa26a;
}
.tab-bggn {
   width:50%;
   height:40px; line-height:40px;
   color:#fff; background:#60c88b;
}
.lawifo-ques {}

.lawifo-ques table {
    border-color:#eee;
    border-style:solid; border:none;
    font-size:14px; color:#333;
}
.lawifo-ques table td { 
    padding:25px 0;
    height:20px; line-height:20px;
    border-color:#eee; border-top:0; border-right:0; border-left:0;
    border-style:dashed; 
}
.lawifo-ques table td.bol1 { border-left:1px dashed #eee;}

/*照片查看*/
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top:100px;
	left: 50%; margin-left:-435px;
	z-index: 8020;
}
.fancybox-skin {
	position: relative;
    padding:15px;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.fancybox-opened {
	z-index: 8030;
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
.fancybox-inner img { width:840px; height:580px; }
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(../images/fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(../images/fancybox_loading.gif) center center no-repeat;
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(../images/blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-prev {
	left: 0;
}
.fancybox-next {
	right: 0;
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
    overflow: visible !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 8010;
	background: url(../images/fancybox_overlay.png);
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	             border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
 /*
2015-07-23
*/
.lawinfo3 ul {
    border-left: solid 1px #e1e1e1;
    margin-left: 4px;
}
